DEBUG=True
SECRET_KEY="<MUST BE CHANGED TO THE CORRECT VALUE>"

# These correspond to the OIDC_API_TOKEN_AUTH settings in django-helusers.
# See django-helusers's documentation for their meaning.
OIDC_AUDIENCE=""
OIDC_API_SCOPE_PREFIX=""
OIDC_REQUIRE_API_SCOPE_FOR_AUTHENTICATION=False
OIDC_ISSUER=""

# These are named the same as the settings in django-helusers.
# See django-helusers's documentation for their meaning.
SOCIAL_AUTH_TUNNISTAMO_KEY=""
SOCIAL_AUTH_TUNNISTAMO_SECRET=""
SOCIAL_AUTH_TUNNISTAMO_OIDC_ENDPOINT=""
